@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-indigo-50">

    <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true"></div>
        <div class="mx-auto max-w-2xl py-10 sm:py-48 lg:py-10">
            <div class="text-center">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Delicious Pastries!</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">Indulge in our delectable pastries made with love and passion.</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Order Now</a><a href="#" class="text-sm font-semibold leading-6 text-gray-900">Explore Our Creations<span aria-hidden="true">→</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="about" class="bg-indigo-600 py-10 sm:py-10">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base font-semibold leading-7 text-indigo-200">Indulge in Pastry Perfection</h2>
            <p  class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">Unleash your sweet tooth with our exquisite pastries</p>
            <p class="mt-6 text-lg leading-8 text-indigo-200">Feature section description</p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
            <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-white">Customized Creations</dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-indigo-200">
                        <p class="flex-auto">Create unique and personalized pastries tailored to your taste and preferences</p>
                        <p class="mt-6">
                            <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
                        </p>
                    </dd>
                </div>
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-white">Artistic Presentation</dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-indigo-200">
                        <p class="flex-auto">Experience visually stunning pastries that are as beautiful as they are delicious</p>
                        <p class="mt-6">
                            <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
                        </p>
                    </dd>
                </div>
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-white">Innovative Flavors</dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-indigo-200">
                        <p class="flex-auto">Discover a wide range of innovative and exciting flavor combinations that will delight your taste buds</p>
                        <p class="mt-6">
                            <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
                        </p>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
<div id="pricing" class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-4xl sm:text-center">
            <h2  class="text-base font-semibold leading-7 text-indigo-600">Pricing</h2>
            <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Choose the perfect plan for your needs</p>
        </div>
        <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600 sm:text-center">We offer three pricing plans to cater to different requirements and budgets.</p>
        <div class="mt-20 flow-root">
            <div class="isolate -mt-16 grid max-w-sm grid-cols-1 gap-y-16 divide-y divide-gray-100 sm:mx-auto lg:-mx-8 lg:mt-0 lg:max-w-none lg:grid-cols-3 lg:divide-x lg:divide-y-0 xl:-mx-4">
                <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
                    <h3 class="text-base font-semibold leading-7 text-gray-900">Basic Plan</h3>
                    <p class="mt-6 flex items-baseline gap-x-1">
                        <span class="text-5xl font-bold tracking-tight text-gray-900">$10</span><span class="text-sm font-semibold leading-6 text-gray-600">/<!-- -->month</span>
                    </p>
                    <a href="#" class="mt-10 block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
                    <p class="mt-10 text-sm font-semibold leading-6 text-gray-900">Ideal for beginners</p>
                    <ul role="list" class="mt-6 space-y-3 text-sm leading-6 text-gray-600">
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Access to 100+ pastry recipes
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Email support
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Basic ingredient list
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Limited access to tutorials
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>No customization options
                        </li>
                    </ul>
                </div>
                <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
                    <h3 class="text-base font-semibold leading-7 text-gray-900">Pro Plan</h3>
                    <p class="mt-6 flex items-baseline gap-x-1">
                        <span class="text-5xl font-bold tracking-tight text-gray-900">$20</span><span class="text-sm font-semibold leading-6 text-gray-600">/<!-- -->month</span>
                    </p>
                    <a href="#" class="mt-10 block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
                    <p class="mt-10 text-sm font-semibold leading-6 text-gray-900">Perfect for aspiring pastry chefs</p>
                    <ul role="list" class="mt-6 space-y-3 text-sm leading-6 text-gray-600">
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Access to 500+ pastry recipes
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Priority email support
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Comprehensive ingredient list
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Full access to tutorials
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Customization options available
                        </li>
                    </ul>
                </div>
                <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
                    <h3 class="text-base font-semibold leading-7 text-gray-900">Advanced Plan</h3>
                    <p class="mt-6 flex items-baseline gap-x-1">
                        <span class="text-5xl font-bold tracking-tight text-gray-900">$30</span><span class="text-sm font-semibold leading-6 text-gray-600">/<!-- -->month</span>
                    </p>
                    <a href="#" class="mt-10 block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
                    <p class="mt-10 text-sm font-semibold leading-6 text-gray-900">For professional pastry chefs</p>
                    <ul role="list" class="mt-6 space-y-3 text-sm leading-6 text-gray-600">
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Access to 1000+ pastry recipes
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>24/7 priority email and phone support
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Detailed ingredient list with substitutions
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Exclusive access to advanced tutorials
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Full customization options
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="experience" class="bg-indigo-600">
    <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2  class="text-3xl font-bold tracking-tight text-white sm:text-4xl"><br />Experience the Art of Pastry</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-indigo-200">Discover a world of delectable pastries crafted with passion and creativity. From classic favorites to innovative creations, our pastry chef will take you on a culinary journey like no other.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="#" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Order Now</a><a href="#" class="text-sm font-semibold leading-6 text-white">
                    Explore Our Menu<!-- -->
                    <span aria-hidden="true">→</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div  id="faq" class="bg-white">
    <div class="mx-auto max-w-7xl px-6 py-24 sm:pt-32 lg:px-8 lg:py-40">
        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
            <div class="lg:col-span-5">
                <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Frequently asked questions</h2>
                <p class="mt-4 text-base leading-7 text-gray-600">
                    Can’t find the answer you’re looking for? Reach out to our<!-- -->
                    <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">customer support</a>
                    <!-- -->team.
                </p>
            </div>
            <div class="mt-10 lg:col-span-7 lg:mt-0">
                <dl class="space-y-10">
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900">What is a pastry chef?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">A pastry chef is a professional cook who specializes in creating pastries, desserts, and other sweet treats.</dd>
                    </div>
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900">What qualifications does a pastry chef need?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">A pastry chef typically needs formal culinary training, such as a degree or certificate in pastry arts, as well as experience working in a professional kitchen.</dd>
                    </div>
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900">What types of pastries can a pastry chef create?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">A pastry chef can create a wide variety of pastries, including cakes, cookies, pies, tarts, croissants, éclairs, macarons, and more.</dd>
                    </div>
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900">Do pastry chefs only work in bakeries?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">No, pastry chefs can work in various settings, including bakeries, restaurants, hotels, catering companies, and even as personal chefs.</dd>
                    </div>
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900">Can a pastry chef accommodate dietary restrictions or allergies?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">Yes, many pastry chefs are skilled in creating desserts that cater to specific dietary needs or allergies, such as gluten-free, vegan, or nut-free options.</dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>
